.container{
    margin: 12% auto;
    width: 474px;
    height: 220px;
    background-image: url(./Success.png);
    background-repeat: no-repeat;
    background-size: cover;
 
 }
 h3{
    font: 400px 16px "Inter";
    color: #12141A;
 }